* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.divGrandona {
    display: flex;
    width: 100%;
    height: auto;
}

.lados {
    width: 50%;
}

.carlos {
    background-color: rgb(247, 114, 247);
    padding: 40px;
}

.carlos header {
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0 0 2px 11px black;
    padding: 20px;
}

.carlos header h3 {
    font-size: 46pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.carlos header img {
    width: 300px;
    overflow: hidden;
}

.carlos main .TutorialDeComoFazerMiojo {
    background-color: rgb(184, 24, 170);
    padding: 10px;
    margin: 20px 0px;
    border-radius: 20px;
}

.carlos main .TutorialDeComoFazerMiojo .textoCaixaBonita {
    background-color: rgb(216, 13, 199);
}

.textoCaixaBonita img {
    width: 100%;
}

.TutorialDeComoFazerMiojo h3 {
    text-align: center;
    font-size: 22pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

.lana {
    background-color: lightblue;
}

h1 {
    text-align: center;
    font-family: Segoe UI;
}

p {
    text-align: center;
    font-family: Arial;
    font-size: 120%
}