
body{
    background-color: rgb(116, 116, 116);
    font-family: Arial;
    margin: 0;
}
.div-login{

    height: 50%;
    width: 25%;
    background-color: rgb(0, 0, 0);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
form{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%)
}
a{
    color: rgb(0, 140, 255);
}


.btn-entrar{
    background-color: rgb(255, 0, 0);
     color: white;
     border: 0;
     padding: 10px 100px;
     cursor: pointer;
     font-weight: bolder;
     margin-top: 10px;
     background-color: rgb(153, 0, 0);
     box-shadow: 0 10px 0 #800000;
     font-size: 11pt;
     letter-spacing: 2px;
 }
 .btn-entrar:hover{
     top: 5px;
     position: relative;
     box-shadow: 0 5px 0 #800000;
 
  }
  .btn-entrar:active{
     top: 10px;
     position: relative;
     box-shadow: 0 0px 0 #800000;
  }
  label{
    color: white;
    text-transform: capitalize;
    margin-top: 10px;
    font-size: 12pt;
  }
  input{
    margin-top: 6px;
    margin-bottom: 12px;
    font-size: 15pt;
    padding: 5px;
    outline: none;
  }
h1,p,li,ul{
    color: white;
}
@media screen and (max-width:1100px)
{
    .div-login{
        width: 40%;
    }
}
@media screen and (max-width:700px)
{
    .div-login{
        width: 50%;
    }
}
@media screen and (max-width:500px)
{
    .div-login{
        width: 80%;
    }
}
@media screen and (max-width:200px)
{
    .div-login{
        width: 100%;
    }
}
@media screen and (max-height:600px)
{
    .div-login{
        height: 90%;
    }
}