@font-face {
    font-family: 'FONTETITOLE';
    font-style: normal;
    font-weight: normal;
    src: local('FONTETITOLE'), url('naoeindex/fontes/Akira.otf') format('opentype');
}

main {
    background-image: linear-gradient(180deg, rgb(203 99 1) 20%, rgb(112, 29, 1) 75%);
    height: 100%;
    position: relative;
}

.containerMain {
    position: absolute;
    margin-top: 30px;
    left: 0;
    right: 0;
    height: calc(95% - 30px);
    background: rgb(30 27 90 / 80%);
    border: 10px solid;
    border-image: repeating-linear-gradient( 45deg, rgb(255, 0, 43) 0.5%, rgb(61 38 72) 1%, rgb(62 39 72) 8%) 20;
    box-shadow: inset 0px 0px 10px 2px #000000;
}