* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
}

.carlosgay {
    height: 100%;
    flex: 1;
}

#cor1 {
    background-color: blue;
}

#cor2 {
    background-color: red;
}

#cor3 {
    background-color: green;
}