* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.carlosgay {
    width: 300px;
    height: 300px;
    background: blue;
    cursor: url(https://static.vecteezy.com/system/resources/previews/035/715/904/large_2x/cursor-pointer-symbol-png.png), auto;
}