* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pai {
    height: 180px;
    width: 600px;
    background-color: red;
    position: relative;
}

.filho {
    height: 150px;
    width: 150px;
    background-color: rgb(43, 255, 0);
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.conteudo {
    position: absolute;
    height: 150px;
    width: calc(100% - 180px);
    left: 170px;
    top: 50%;
    transform: translateY(-50%);
    background-color: blue;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22pt;
    text-align: center;
    word-spacing: normal;
}