* {
    margin: 0;
    padding: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: #fff4f4;
}

header {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #005281;
}

#titulo {
    text-align: center;
    font-size: 26pt;
}

.container {
    display: flex;
    height: calc(100vh - 90px);
}

.section {
    flex: 1;
    padding: 0 20px;
    box-sizing: border-box;
}

th,
td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #646464;
    min-width: 60px;
}

img {
    display: block;
    margin: auto;
}

#img-up {
    display: inline-block;
    height: 70px;
    margin: auto 5px;
}


/* Adicione mais estilos conforme necessário */

.numero-temporario {
    position: absolute;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    user-select: none;
    pointer-events: none;
}

#domeio {
    margin: 0;
    padding: 0;
    background-color: #204961;
    border-top: 10px solid #57524c;
    /* Borda apenas na parte superior */
    border-bottom: 10px solid #57524c;
    /* Borda apenas na parte inferior */
    box-sizing: border-box;
    /* Faz com que a borda esteja dentro do elemento */
}

#BOZOIMG {
    border: 1px solid rgba(0, 0, 0, 0.158);
    transition: transform 0.3s ease;
}

#BOZOIMG:hover {
    transform: scale(1.03);
}

.upgrades-container-upgrades {
    margin: 0;
    border: 1px solid goldenrod;
    text-align: center;
    width: 100%;
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    user-select: none;
    position: relative;
    transition: background-color 0.3s ease;
    border-radius: 2px;
}

.upgrades-container-upgrades h4 {
    margin: 6px;
    font-size: 16px;
    /* Ajuste conforme necessário */
}

.upgrades-container-upgrades img {
    height: 100px;
    width: 100px;
    position: absolute;
    border: 1px solid black;
}

.upgrades-container-upgrades p {
    margin: 10px 15px;
    padding: 2px;
    text-shadow: 0px 2px 6px #000, 0px 1px 1px #000;
}

.conteudodosupgrade {
    position: absolute;
    left: 102px;
    height: 100%;
    width: calc(100% - 102px);
    box-shadow: none;
}

.tituloconstrucao {
    left: 50%;
    text-align: center;
}

.precoconstrucao {
    position: absolute;
    bottom: 0px;
    left: 0;
    font-size: 15pt;
}

.quantconstrucao {
    position: absolute;
    right: 0px;
    top: 25px;
    font-size: 26pt;
}

#conteiner-upgrades-container-upgrades {
    margin: 0;
    padding: 0;
    border: 10px solid#57524c;
    box-sizing: border-box;
    background-color: #316e91;
}

.upgrades-container-upgrades:hover {
    background-color: #e9e9e9;
}

.upgrades-container-upgrades:active {
    background-color: #d4d4d4;
}

.upgradesarea {
    height: 100%;
    width: 100%;
    border: 10px solid#57524c;
    box-sizing: border-box;
    background-color: #316e91;
}

#sectionupgradesarea {
    padding: 0;
}